
    <div class="sotry_div">
    	<!--顶部-->
    	<div class="story_top_bg">
        	<div class="effective_div">
            	<ul class="story_top_ul">
                	<li>
                    	<div class="stroy_top_rel">
                        	<a href="#"><img src="__PUBLIC__/images/stroy_07.jpg" /></a>
                            <div class="story_top_abs"></div>
                            <p class="sty_top_p">然后女的一抛硬币问道：硬币是几几年的？ 别以为这样我们男的就软了。这哥们瞬间就来了</p>
                        </div>
                    </li>
                    <li>
                   	  <dl class="story_top_dl">
                        	<dd>
                            	<div class="str_dl_rel">
                                	<a href="#"><img src="__PUBLIC__/images/story_03.jpg" /></a>
                                    <div class="str_dl_abs"></div>
                                    <p class="str_p_abs">然后女的一抛硬币问道</p>
                                </div>
                            </dd>
                            <dd>
                            	<div class="str_dl_rel">
                                	<a href="#"><img src="__PUBLIC__/images/story_03.jpg" /></a>
                                    <div class="str_dl_abs"></div>
                                    <p class="str_p_abs">然后女的一抛硬币问道</p>
                                </div>
                            </dd>
                            <dt>
                            	<div class="str_cen_rel">
                                	<a href="#"><img src="__PUBLIC__/images/story_08.jpg" /></a>
                                    <div class="str_cen_abs"></div>
                                    <p class="str_cen_p">然后女的一抛硬币问道：硬币是几几年的？</p>
                                </div>
                            </dt>
                        </dl>
                    </li>
                    <li>
                    	<div class="str_top_right_rel">
                        	<a href="#"><img src="__PUBLIC__/images/story_02.jpg" /></a>
                            <div class="str_top_right_abs"></div>
                            <p class="str_p_right_abs">然后女的一抛硬币问道</p>
                        </div>
                    </li>
                    <li class="str_last">
                    	<div class="str_top_right_rel">
                        	<a href="#"><img src="__PUBLIC__/images/story_02.jpg" /></a>
                            <div class="str_top_right_abs"></div>
                            <p class="str_p_right_abs">然后女的一抛硬币问道</p>
                        </div>
                    </li>
                </ul>
                
                <div class="str_daohang">
                    <ul class="str_ul_top">
                        <div class="str_top_con">
                            <a href="#">地点</a>
                        </div>
                        <li><a href="#" class="first_a">全部</a></li>
                        <li><a href="#" class="first1_a">上海</a></li>
                        <li><a href="#">北京</a></li>
                        <li><a href="#">天津</a></li>
                        <li><a href="#">香港</a></li>
                        <li><a href="#">澳门</a></li>
                        <li><a href="#">广州</a></li>
                        <li><a href="#">深圳</a></li>
                        <li><a href="#">厦门</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--内容区-->
        <div class="effective_div">
        	<div class="vom_con">
        		<!--左边-->
                <div class="vom_con_left">
                	<p class="com_p">
                        <span class="com_span"><input name="" type="text" class="com_text" /><span>
                        <a href="#" class="search_com"><img src="__PUBLIC__/images/story_01.jpg" /></a>
                    </p>
                    <!--微故事-->
                    <div class="stroy_s_stroy">
                    	<p class="left_vom_title">微故事</p>
                    	<ul class="left_stroy_ul left_stroy_ul1">
                        	<li><a href="#" class="li_a1">田园风光</a></li>
                            <li><a href="#">美景</a></li>
                            <li><a href="#">印象</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                            <li><a href="#">海滩</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                            <li><a href="#">田园风光</a></li>
                            <li><a href="#">美景</a></li>
                            <li><a href="#">印象</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                            <li><a href="#">海滩</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                        </ul>
                    </div>
                    <!--微游记-->
                    <div class="stroy_s_stroy">
                    	<p class="left_vom_title">微游记</p>
                    	<ul class="left_stroy_ul left_stroy_ul2">
                        	<li><a href="#" class="li_a2">田园风光</a></li>
                            <li><a href="#">美景</a></li>
                            <li><a href="#">印象</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                            <li><a href="#">海滩</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                            <li><a href="#">田园风光</a></li>
                            <li><a href="#">美景</a></li>
                            <li><a href="#">印象</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                            <li><a href="#">海滩</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                        </ul>
                    </div>
                  	<!--热门专帖-->
                    <div class="str_left_img"><img src="__PUBLIC__/images/stroy_32.jpg" /></div>
                </div>
                <!--中间-->
                <div class="vom_center">
                	<ul class="str_cen_ul">
                    	<li class="li2" onclick="commitmentsbook('1')">最新排序</li>
                        <li onclick="commitmentsbook('2')">24小时点赞度 </li><P>|</P>
                        <li onclick="commitmentsbook('3')">度一周点赞度 </li><P>|</P>
                        <li onclick="commitmentsbook('4')">一月点赞 </li>
                    </ul>
                	<!--<ul class="com_right_ul">
                        <li class="li2">最新排序</li>
                        <li><p>24小时点赞度</p><span>|</span> </li>
                        <li><p>度一周点赞度 </p><span>|</span></li>
                        <li>一月点赞 </li>
                    </ul>-->
                    <!--风景印象-->
                    <div class="center_bottom str_center">
                       <div class="content_mg_left">
                            <div class="gh">
                                <p class="p2">上海</p>
                                <p class="p3">风景印象</p>
                                <strong>同事讲的笑话</strong>
                            </div>
                            <div class="content_coll">
                                <p>楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚</p>
                            </div>
                        </div>
                        <div class="border_up">
                            <div class="coll_ul">
                                <ul>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_36.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_38.jpg" /></a>
                                        <span>赞</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_36.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_38.jpg" /></a>
                                        <span>赞</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_36.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_38.jpg" /></a>
                                        <span>赞</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_40.jpg" /></a>
                                        <span>都是人才</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_42.jpg" /></a>
                                        <span>不错</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_40.jpg" /></a>
                                        <span>都是人才</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_42.jpg" /></a>
                                        <span>不错</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_48.jpg" /></a>
                                        <span>难的好听</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_48.jpg" /></a>
                                        <span>都是人才啊</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_48.jpg" /></a>
                                        <span>尼玛搞飞机</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="center_botoome_ul">
                            <ul class="bt_ul">
                                <li>
                                    <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                    <p>
                                        <strong>漆黑之牙</strong>
                                        <span>服务很不错</span>
                                    </p>
                                    <div class="time">今天9:20</div>
                                </li>
                                <li>
                                    <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                    <p>
                                        <strong>漆黑之牙</strong>
                                        <span>服务很不错</span>
                                    </p>
                                    <div class="time">今天9:20</div>
                                </li>
                            </ul>
                            <div class="p_master"><p>查看更多的评论>></p></div>
                        </div>
                        <div class="bott_text">
                            <div class="text_b">
                                <input type="text" class="text_width" value="还能输入140字" />
                            </div>
                            <div class="text_right">
                                <div class="right_bt">
                                    <ul>
                                        <li><img src="__PUBLIC__/images/trip_59.jpg" /></li>
                                        <li>
                                            <a href="#" class="tu_zao">吐糟</a>
                                        </li>
                                        <li>
                                            <a href="#" class="pin" style="color:#555555;">评论</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--风景印象-->
                    <div class="collection_content str_content">
                        <div class="content_mg_left" id="1">
                            <div class="sh">
                                <p class="p2">上海</p>
                                <p class="p3">风景印象</p>
                            </div>
                            <div class="strong">
                                <strong>昨天滨江道等车的时候，看见的大姐.....</strong>
                            </div>
                            <div class="div_new">
                                <dl class="div_new_dl">
                                    <dt><img src="__PUBLIC__/images/collectioncenter_collection_44.jpg" /></dt>
                                    <dd>楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="content_mg_left hover_div" id="2">
                            <div class="sh">
                                <p class="p2">上海</p>
                                <p class="p3">风景印象</p>
                            </div>
                            <div class="strong">
                                <strong>昨天滨江道等车的时候，看见的大姐.....</strong>
                            </div>
                            <div class="div_new">
                                <dl class="div_new_dl">
                                    <dt><img src="__PUBLIC__/images/collectioncenter_collection_44.jpg" /></dt>
                                    <dd>楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="content_mg_left hover_div" id="3">
                            <div class="sh">
                                <p class="p2">上海</p>
                                <p class="p3">风景印象</p>
                            </div>
                            <div class="strong">
                                <strong>昨天滨江道等车的时候，3看见的大姐.....</strong>
                            </div>
                            <div class="div_new">
                                <dl class="div_new_dl">
                                    <dt><img src="__PUBLIC__/images/collectioncenter_collection_44.jpg" /></dt>
                                    <dd>楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="content_mg_left hover_div" id="4">
                            <div class="sh">
                                <p class="p2">上海</p>
                                <p class="p3">风景印象</p>
                            </div>
                            <div class="strong">
                                <strong>昨天滨江道等车的时候，看见4的大姐.....</strong>
                            </div>
                            <div class="div_new">
                                <dl class="div_new_dl">
                                    <dt><img src="__PUBLIC__/images/collectioncenter_collection_44.jpg" /></dt>
                                    <dd>楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚</dd>
                                </dl>
                            </div>
                        </div>
                        
                        <div class="re_div">
                            <div class="coll_ul">
                                <ul>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_36.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_38.jpg" /></a>
                                        <span>赞</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_36.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_38.jpg" /></a>
                                        <span>赞</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_36.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_38.jpg" /></a>
                                        <span>赞</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_40.jpg" /></a>
                                        <span>都是人才</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_42.jpg" /></a>
                                        <span>不错</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_40.jpg" /></a>
                                        <span>都是人才</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_42.jpg" /></a>
                                        <span>不错</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_48.jpg" /></a>
                                        <span>难的好听</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_48.jpg" /></a>
                                        <span>都是人才啊</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_48.jpg" /></a>
                                        <span>尼玛搞飞机</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div class="center_botoome_ul">
                                <ul class="bt_ul">
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                        <div class="time">今天9:20</div>
                                    </li>
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                        <div class="time">今天9:20</div>
                                    </li>
                                </ul>
                                <div class="p_master"><p>查看更多的评论>></p></div>
                            </div>
                            <div class="bott_text">
                                <div class="text_b">
                                    <input type="text" class="text_width" value="还能输入140字" />
                                </div>
                                <div class="text_right">
                                    <div class="right_bt">
                                        <ul>
                                            <li><img src="__PUBLIC__/images/trip_59.jpg" /></li>
                                            <li>
                                                <a href="#" class="tu_zao">吐糟</a>
                                            </li>
                                            <li>
                                                <a href="#" class="pin" style="color:#555555;">评论</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
                <!--右边-->
                <div class="story_div_width">
                    <div class="story_right_div">
                        <p class="new_spit">最新吐遭排行</p>
                        <div class="img_str" id="find_main0">
                              <ul class="img_find_ul on_block">
                                  <li>
                                      <a href="#"></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg_span">1</span>
                                            <span>滑雪的装备就像骑士的战马1</span>
                                          </div>
                                      </p>
                                  </li>
                               </ul>
                               <ul class="img_find_ul">
                                   <li>
                                      <a href="#"></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg1">2</span>
                                            <span>滑雪的装备就像骑士的战马2</span>
                                          </div>
                                      </p>
                                  </li>
                               </ul>
                               <ul class="img_find_ul">
                                   <li>
                                      <a href="#"></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg2">3</span>
                                            <span>滑雪的装备就像骑士的战马3</span>
                                          </div>
                                      </p>
                                  </li>
                               </ul>
                               <ul class="img_find_ul">
                                   <li>
                                      <a href="#" ></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg3">4</span>
                                            <span>滑雪的装备就像骑士的战马4</span>
                                          </div>
                                      </p>
                                  </li>
                              </ul>
                              <ul class="img_find_ul">
                                   <li>
                                      <a href="#"></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg3">5</span>
                                            <span>滑雪的装备就像骑士的战马5</span>
                                          </div>
                                      </p>
                                  </li>
                              </ul>
                               <ul class="img_find_ul">
                                   <li>
                                      <a href="#" ></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg3">6</span>
                                            <span>滑雪的装备就像骑士的战马6</span>
                                          </div>
                                      </p>
                                  </li>
                              </ul>
                          </div>
                        <div class="clear"></div>
                        <ul class="onclick_story_ul" id="find_menu0">
                            <li class="hover1">
                                <span class="bg_span" >1</span>
                                <span>滑雪的装备就像骑士的战马1</span>
                            </li>
                            <li>
                                <span class="bg1">2</span>
                                <span>滑雪的装备就像骑士的战马2</span>
                            </li>
                            <li>
                                <span class="bg2">3</span>
                                <span>滑雪的装备就像骑士的战马3</span>
                            </li>
                            <li>
                                <span class="bg3">4</span>
                                <span>滑雪的装备就像骑士的战马4</span>
                            </li>
                            <li>
                                <span class="bg3">5</span>
                                <span>滑雪的装备就像骑士的战马5</span>
                            </li>
                            <li>
                                <span class="bg3">6</span>
                                <span>滑雪的装备就像骑士的战马6</span>
                            </li>
                        </ul>
                    </div>
                    <div class="story_right_div">
                        <p class="new_spit">最新吐遭排行</p>
                        <div class="img_str" id="story_main0">
                              <ul class="img_find_ul on_block">
                                  <li>
                                      <a href="#" ></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg_span">1</span>
                                            <span>滑雪的装备就像骑士的战马1</span>
                                          </div>
                                      </p>
                                  </li>
                               </ul>
                               <ul class="img_find_ul">
                                   <li>
                                      <a href="#"></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg1">2</span>
                                            <span>滑雪的装备就像骑士的战马2</span>
                                          </div>
                                      </p>
                                  </li>
                               </ul>
                               <ul class="img_find_ul">
                                   <li>
                                      <a href="#"></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg2">3</span>
                                            <span>滑雪的装备就像骑士的战马3</span>
                                          </div>
                                      </p>
                                  </li>
                               </ul>
                               <ul class="img_find_ul">
                                   <li>
                                      <a href="#"></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg3">4</span>
                                            <span>滑雪的装备就像骑士的战马4</span>
                                          </div>
                                      </p>
                                  </li>
                              </ul>
                              <ul class="img_find_ul">
                                   <li>
                                      <a href="#"></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg3">5</span>
                                            <span>滑雪的装备就像骑士的战马5</span>
                                          </div>
                                      </p>
                                  </li>
                              </ul>
                               <ul class="img_find_ul">
                                   <li>
                                      <a href="#"></a>
                                      <p class="p_find">
                                          <div class="p_find_abs"></div>
                                          <div class="f_find_abs1">
                                            <span class="bg3">6</span>
                                            <span>滑雪的装备就像骑士的战马6</span>
                                          </div>
                                      </p>
                                  </li>
                              </ul>
                          </div>
                        <div class="clear"></div>
                        <ul class="onclick_story_ul" id="stroy_menu0">
                            <li class="hover1">
                                <span class="bg_span" >1</span>
                                <span>滑雪的装备就像骑士的战马1</span>
                            </li>
                            <li>
                                <span class="bg1">2</span>
                                <span>滑雪的装备就像骑士的战马2</span>
                            </li>
                            <li>
                                <span class="bg2">3</span>
                                <span>滑雪的装备就像骑士的战马3</span>
                            </li>
                            <li>
                                <span class="bg3">4</span>
                                <span>滑雪的装备就像骑士的战马4</span>
                            </li>
                            <li>
                                <span class="bg3">5</span>
                                <span>滑雪的装备就像骑士的战马5</span>
                            </li>
                            <li>
                                <span class="bg3">6</span>
                                <span>滑雪的装备就像骑士的战马6</span>
                            </li>
                        </ul>
                    </div>
                    <!--淘宝网-->
                    <div class="pay_left_bottom">
                
                    </div>
               </div>
        	</div>
            <!--翻页-->
            <div class="clear"></div>
            <div class="page">
            	<ul>
                	<li class="page_li1"><a href="#">上一页</a></li>
                    <li class="index_page"><a href="#">1</a></li>
                    <li class="index_page"><a href="#">2</a></li>
                    <li class="index_page"><a href="#">3</a></li>
                    <li class="index_page"><a href="#">...</a></li>
                    <li class="index_page"><a href="#">8</a></li>
                    <li class="page_li2"><a href="#">上一页</a></li>
                </ul>
            </div>
        </div>
    </div>
    