<div class="effective_div">
	<div class="cart2_content">
        <div class="cart2_con_top">收货人信息</div>
        <div class="cart2_con_bot">
          <form action="{:U('Shop/jiesuan')}" method="post">  
            <table>
                <tr>
                    <td width="93">配送区域：</td>
                    <td colspan="3">
                        <p>
                            <select name="" class="select1">
                              <option>中国</option>
                              <option>法国</option>
                            </select>
                        </p>
                        <p>
                            <select name="" class="select2">
                              <option>请选择省</option>
                              <option>湖北</option>
                            </select>
                        </p>
                        <p>
                            <select name="" class="select2">
                              <option>请选择市</option>
                              <option>上海</option>
                            </select>
                        </p>
                        <p>必填</p>
                    </td>
                </tr>
                <tr>
                    <td width="93">收货人姓名：</td>
                    <td width="455"><p><input name="" type="text" class="cart2_text" /></p><p>必填</p></td>
                    <td width="109">电子邮件地址：</td>
                    <td width="390"><p><input name="" type="text" class="cart2_text" /></p><p>必填</p></td>
                </tr>
                <tr>
                    <td width="93">详细地址：</td>
                    <td width="455"><p><input name="" type="text" class="cart2_text" /></p><p>必填</p></td>
                    <td width="109">邮政编码：</td>
                    <td width="390"><p><input name="" type="text" class="cart2_text" /></p><p>必填</p></td>
                </tr>
                <tr>
                    <td width="93">电话：</td>
                    <td width="455"><p><input name="" type="text" class="cart2_text" /></p><p>手机与固定电话至少填一项</p></td>
                    <td width="109">手机：</td>
                    <td width="390"><p><input name="" type="text" class="cart2_text" /></p></td>
                </tr>
                <tr>
                    <td width="93">标志建筑：</td>
                    <td width="455"><p><input name="" type="text" class="cart2_text" /></p><p>必填</p></td>
                    <td width="109">最佳送货时间：</td>
                    <td width="390"><p><input name="" type="text" class="cart2_text" /></p></td>
                </tr>
                <tr class="last_tr">
                    <td colspan="4"><input name="" type="image" class="cart2_image" src="__PUBLIC__/imgaes/Cart2_03.jpg" /></td>
                </tr>
            </table>
           </form> 
        </div>
    </div>

</div>