<script src="__PUBLIC__/uploadfify/jquery.uploadify.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/uploadfify/uploadify.css">



	<div class="header">
		<h1 class="page-title">订单编辑</h1>
	</div>


	<ul class="breadcrumb">
	    <li><a href="#">首页</a> <span class="divider">/</span></li>
	    <li><a href="{:U('Didan/index')}">订单管理</a> <span class="divider">/</span></li>
	    <li class="active">订单编辑</li>
	</ul>

	<div class="container-fluid">
	    <div class="row-fluid">    
			<div class="well">
				<form  action="{:U('Didan/edit')}"  enctype="multipart/form-data" method="post"  >
					<fieldset>
						
						<input type="hidden" name="id" value="<?php echo $list['id']?>">
						<legend>商品添加</legoodsend>
						<label>订单号</label>
						<input type="text" readonly name="name" value="<?php echo $list['danhao']?>" class="input-xlarge" >
						
						<label>状态</label>
						<label class="radio inline">
						<input type="radio" name="status" id="optionsRadios1" value="0"  <?php if($list['status']==0){ echo 'checked'; }?>>
						正常
						</label>
						<label class="radio inline">
						<input type="radio" name="status" <?php if($list['status']==1){ echo 'checked'; }?> id="optionsRadios2" value="1">发货
						</label> 

						<label class="radio inline">
						<input type="radio" name="status" <?php if($list['status']==2){ echo 'checked'; }?> id="optionsRadios2" value="2">交易完成
						</label> 

						<label>物流公司</label>
						<input type="text" name="compay" value="<?php echo $list['compay'] ;?>" >
						<label>快递单号</label>
						<input type="text" name="kdan" value="<?php echo $list['kdan'] ;?>" >



						
						<label>退款状态</label>
						<label class="radio inline">
						<input type="radio" name="spay" id="optionsRadios1" value="2"  <?php if($list['spay']==2){ echo 'checked'; }?>>
						已退款
						</label>


						<div class="btn-toolbar">
							<button class="btn btn-primary" type="submit"><i class="icon-save"></i> 编 辑 </button>
						</div>
					</fieldset>

				</form>
			</div>

		</div>
		<footer>
		<hr>
		<p class="pull-right">&copy;  <a href="" target="_blank">Pleasure</a></p>
		</footer>
	</div>