            <!--中间-->
          <div class="collect_center">
                <div class="collect_center_dl">
                    <dl class="dl_top_first">
                        <dt><a href="#"><img src="__PUBLIC__/images/collectioncenter_collection_15.jpg" /></a></dt>
                        <dd>发状态</dd>
                    </dl>
                    <dl class="dl_top">
                        <dt><a href="#"><img src="__PUBLIC__/images/collectioncenter_collection_07.jpg" /></a></dt>
                        <dd>游记</dd>
                    </dl>
                    <dl class="dl_top">
                        <dt><a href="#"><img src="__PUBLIC__/images/collectioncenter_collection_01.jpg" /></a></dt>
                        <dd>故事</dd>
                    </dl>
                    <dl class="dl_top">
                        <dt><a href="#"><img src="__PUBLIC__/images/collectioncenter_collection_12.jpg" /></a></dt>
                        <dd>行程</dd>
                    </dl>
                    <dl class="dl_top">
                        <dt><a href="#"><img src="__PUBLIC__/images/collectioncenter_collection_09.jpg" /></a></dt>
                        <dd>任务书</dd>
                    </dl>
                </div>
                <div class="travels_box_top">
                    <div class="travels_box_div">
                        <strong>快速上传</strong>
                        <p>上传一张照片</p>
                    </div>
                    <div class="task_type">
                        <ul class="task_ul">
                            <li>
                                <span class="str_span1">类别：</span>
                                <span>
                                    <select name="" class="select_task">
                                      <option>好</option>
                                      <option>不好</option>
                                    </select>
                                </span>
                            </li>
                            <li>
                                <span class="str_span2">自定义标签：</span>
                                <span class="task_span"><input name="" type="text" class="text_str" /></span>
                            </li>
                        </ul>
                        <dl class="travels_box_dl">
                            <dt>描述：</dt>
                            <dd><textarea cols="" rows="" class="travels_box_tarea">添加照片描述</textarea></dd>
                        </dl>
                    </div>
                </div>
                <div class="collection_show">
                    <dl>
                        <dt><img src="__PUBLIC__/images/collectioncenter_collection_73.jpg" /></dt>
                        <dd>表情</dd>
                        <dt><img src="__PUBLIC__/images/collectioncenter_collection_31.jpg" /></dt>
                        <dd>图片</dd>
                        <dt><img src="__PUBLIC__/images/collectioncenter_collection_34.jpg" /></dt>
                        <dd>朋友</dd>
                    </dl><div class="collection_r">
                    <ul class="strorpublish_box" >
                        <li><p class="check"><input name="" type="checkbox" value=""  /></p></li>
                        <li>同步至：吐糟区</li>
                    </ul>
                    <ul class="ul4">
                        <li>
                            <select name="" class="select_public" >
                              <option>公开</option>
                              <option>不公开</option>
                            </select>
                        </li>
                        <li></li>
                    </ul>
                    </div>
                </div>
                <div class="newmatter">
                    <p>新鲜事</p>
                    <strong><img src="__PUBLIC__/images/collection.png" /></strong>
                </div>
                <div class="travels_content">
                    <div class="travels_mg_left">
                        <dl class="travels_dl">
                            <dt><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></dt>
                            <dd>
                                <strong>漆黑之牙</strong>
                                <p>今天：10.21</p>
                            </dd>
                        </dl>
                        <p class="btn_p"><img src="__PUBLIC__/images/travels_01.jpg" /></p>
                        <div class="clear"></div>
                        <div class="travels_title">
                            <p>澳大利亚有一只叫Didga的喵星人，酷爱滑板，而且耍得还真不赖！主人记录下这些酷拽的瞬间，太逆天了好么！</p>
                        </div>
                        <div class="clear"></div>
                        <div class="travels_ul">
                            <ul>
                                <li><a href="#"><img src="__PUBLIC__/images/travels_03.jpg" /></a></li>
                                <li><a href="#"><img src="__PUBLIC__/images/travels_06.jpg" /></a></li>
                                <li><a href="#"><img src="__PUBLIC__/images/travels_08.jpg" /></a></li>
                                <li><a href="#"><img src="__PUBLIC__/images/travels_03.jpg" /></a></li>
                                <li><a href="#"><img src="__PUBLIC__/images/travels_06.jpg" /></a></li>
                                <li><a href="#"><img src="__PUBLIC__/images/travels_08.jpg" /></a></li>
                                <li><a href="#"><img src="__PUBLIC__/images/travels_03.jpg" /></a></li>
                                <li><a href="#"><img src="__PUBLIC__/images/travels_06.jpg" /></a></li>

                                <li><a href="#"><img src="__PUBLIC__/images/travels_08.jpg" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="travels_discuss">
                      <div class="travels_mg_left">
                            <dl class="travels_top_dl">
                                <dd><a href="#">评论</a></dd>
                                <dd><a href="#">转发</a></dd>
                                <dd class="dd_z">
                                    <input name="" type="image" src="__PUBLIC__/images/travels.png" style="margin-top:2px;" />
                                    <a href="#">赞(32)</a>
                                </dd>
                                <dd class="dd_sc"><a href="#">收藏</a></dd>
                            </dl>
                            <div class="clear"></div>
                            <dl class="img_s_tra">
                                <dt><a href="#"><img src="__PUBLIC__/images/travels.png" /></a></dt>
                                <dd><a href="#"><img src="__PUBLIC__/images/travels_13.jpg" /></a></dd>
                                <dd><a href="#"><img src="__PUBLIC__/images/travels_15.jpg" /></a></dd>
                                <dd><a href="#"><img src="__PUBLIC__/images/travels_17.jpg" /></a></dd>
                                <dd><a href="#"><img src="__PUBLIC__/images/travels_19.jpg" /></a></dd>
                                <dd><a href="#"><img src="__PUBLIC__/images/travels_21.jpg" /></a></dd>
                            </dl>
                            <div class="clear"></div>
                            <div class="review_reply">
                                <ul class="review_ul">
                                    <li>
                                        <div class="review_t">
                                          <dl class="replay_dl">
                                                <dt><img src="__PUBLIC__/images/travels_29.jpg"/></dt>
                                                <dd>
                                                    <p class="master_p">
                                                        <strong>学员@丽萨：</strong>
                                                        <span>可以翻译成，赖床到现在才起。</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                    <p class="review_time">
                                                        <strong>10:14</strong>
                                                        <span><img src="__PUBLIC__/images/travels_02.jpg" /></span>
                                                    </p>
                                                </dd>
                                            </dl>
                                        </div>
                                        <ul class="replay_ul">
                                            <li class="replay_li">
                                                <div class="travels_13"><img src="__PUBLIC__/images/travels_13.jpg" /></div>
                                                <div class="replay_div">
                                                    <p class="master_p">
                                                        <strong>高芯</strong>
                                                        <span>回复</span>
                                                        <strong>学员@丽萨：</strong>
                                                        <span>我一个小时前就起了。</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                    <p class="review_time">
                                                        <strong>10:14</strong>
                                                        <span><img src="__PUBLIC__/images/travels_02.jpg" /></span>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="review_t">
                                          <dl class="replay_dl">
                                                <dt><img src="__PUBLIC__/images/travels_29.jpg"/></dt>
                                                <dd>
                                                    <p class="master_p">
                                                        <strong>学员@丽萨：</strong>
                                                        <span>可以翻译成，赖床到现在才起。</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                    <p class="review_time">
                                                        <strong>10:14</strong>
                                                        <span><img src="__PUBLIC__/images/travels_02.jpg" /></span>
                                                    </p>
                                                </dd>
                                            </dl>
                                        </div>
                                        <ul class="replay_ul">
                                            <li class="replay_li">
                                                <div class="travels_13"><img src="__PUBLIC__/images/travels_13.jpg" /></div>
                                                <div class="replay_div">
                                                    <p class="master_p">
                                                        <strong>高芯</strong>
                                                        <span>回复</span>
                                                        <strong>学员@丽萨：</strong>
                                                        <span>我一个小时前就起了。</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                    <p class="review_time">
                                                        <strong>10:14</strong>
                                                        <span><img src="__PUBLIC__/images/travels_02.jpg" /></span>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="review_t">
                                          <dl class="replay_dl">
                                                <dt><img src="__PUBLIC__/images/travels_29.jpg"/></dt>
                                                <dd>
                                                    <p class="master_p">
                                                        <strong>学员@丽萨：</strong>
                                                        <span>可以翻译成，赖床到现在才起。</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                    <p class="review_time">
                                                        <strong>10:14</strong>
                                                        <span><img src="__PUBLIC__/images/travels_02.jpg" /></span>
                                                    </p>
                                                </dd>
                                            </dl>
                                        </div>
                                        <ul class="replay_ul">
                                            <li class="replay_li">
                                                <div class="travels_13"><img src="__PUBLIC__/images/travels_13.jpg" /></div>
                                                <div class="replay_div">
                                                    <p class="master_p">
                                                        <strong>高芯</strong>
                                                        <span>回复</span>
                                                        <strong>学员@丽萨：</strong>
                                                        <span>我一个小时前就起了。</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                    <p class="review_time">
                                                        <strong>10:14</strong>
                                                        <span><img src="__PUBLIC__/images/travels_02.jpg" /></span>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="review_t">
                                          <dl class="replay_dl">
                                                <dt><img src="__PUBLIC__/images/travels_29.jpg"/></dt>
                                                <dd>
                                                    <p class="master_p">
                                                        <strong>学员@丽萨：</strong>
                                                        <span>可以翻译成，赖床到现在才起。</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                    <p class="review_time">
                                                        <strong>10:14</strong>
                                                        <span><img src="__PUBLIC__/images/travels_02.jpg" /></span>
                                                    </p>
                                                </dd>
                                            </dl>
                                        </div>
                                        <ul class="replay_ul">
                                            <li class="replay_li">
                                                <div class="travels_13"><img src="__PUBLIC__/images/travels_13.jpg" /></div>
                                                <div class="replay_div">
                                                    <p class="master_p">
                                                        <strong>高芯</strong>
                                                        <span>回复</span>
                                                        <strong>学员@丽萨：</strong>
                                                        <span>我一个小时前就起了。</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                    <p class="review_time">
                                                        <strong>10:14</strong>
                                                        <span><img src="__PUBLIC__/images/travels_02.jpg" /></span>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div class="sea_mas">查看更多评论&gt;&gt;</div>
                            <div class="travels_text">
                                <input name="" type="text" class="travels_text_con" />
                            </div>
                            <div class="travels_submit">
                                <dl class="travels_submit_dl">
                                    <dt><img src="__PUBLIC__/images/trip_59.jpg" /></dt>
                                    <dd>表情</dd>
                                </dl>
                                <dl class="travels_submit_dl">
                                    <dt><img src="__PUBLIC__/images/travels_38.jpg" /></dt>
                                    <dd>图片</dd>
                                </dl>
                                <ul class="travels_submit_ul">
                                    <li class="ul_li1">
                                        <input name="" type="checkbox" value=""  />
                                        <span>同时转发</span>
                                    </li>
                                    <li><input name="" type="image"  src="__PUBLIC__/images/travels_35.jpg"/></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                   <!--右边-->
            <div class="collection_right">
              <div class="right_ul_div">
                <strong class="recent">最近访客</strong>
                <ul class="right_ul_collection">
                    <li>
                        <a href="#">
                            <p><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <p class="p4">漆黑之牙</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <p class="p4">漆黑之牙</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <p class="p4">漆黑之牙</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <p class="p4">漆黑之牙</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <p class="p4">漆黑之牙</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <p class="p4">漆黑之牙</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <p class="p4">漆黑之牙</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <p class="p4">漆黑之牙</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <p class="p4">漆黑之牙</p>
                        </a>
                    </li>
                </ul>
                <div class="right_ul_bottome clear">
                    <dl class="browse_dl">
                        <dd>今日浏览：3</dd>
                        <dt>总浏览：1520</dt>
                    </dl>
                </div>
              </div>
              <div class="recommend_div">
                   <strong class="recent">内容推荐</strong>
                   <ul class="recommend_ul">
                      <li><a href="#" class="recommend_ul_a"><img src="__PUBLIC__/images/collectioncenter_collection_57.jpg" />
                        
                      </a>
                        <dl class="recommend_ul_dl">
                          <dt>非常优美的地方</dt>
                          <dd>楼主听同事讲了个他以前同事的故事，那个同事工作中不慎.....</dd>
                        </dl>
                     </li>
                      <li><a href="#" class="recommend_ul_a"><img src="__PUBLIC__/images/collectioncenter_collection_57.jpg" /></a>
                        <dl class="recommend_ul_dl">
                          <dt>非常优美的地方</dt>
                          <dd>楼主听同事讲了个他以前同事的故事，那个同事工作中不慎.....</dd>
                        </dl>
                     </li>
                      <li><a href="#" class="recommend_ul_a"><img src="__PUBLIC__/images/collectioncenter_collection_57.jpg" /></a>
                        <dl class="recommend_ul_dl">
                          <dt>非常优美的地方</dt>
                          <dd>楼主听同事讲了个他以前同事的故事，那个同事工作中不慎.....</dd>
                        </dl>
                     </li>
                   </ul>
              </div>
              <div class="talent_div">
                  <strong class="recent">达人推荐</strong>
                  <ul class="talent_div_ul">
                     <li>
                        <a href="#">
                            <p class="p5"><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <dl class="talent_div_dl">
                                <dt>漆黑之牙</dt>
                                <dd>上海</dd>
                            </dl>
                            <p class="btn_add"><input name="" type="image" src="__PUBLIC__/images/add_friend_03.jpg" /></p>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                            <p class="p5"><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <dl class="talent_div_dl">
                                <dt>漆黑之牙</dt>
                                <dd>上海</dd>
                            </dl>
                            <p class="btn_add"><input name="" type="image" src="__PUBLIC__/images/add_friend_03.jpg" /></p>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                            <p class="p5"><img src="__PUBLIC__/images/collectioncenter_collection_61.jpg" /></p>
                            <dl class="talent_div_dl">
                                <dt>漆黑之牙</dt>
                                <dd>上海</dd>
                            </dl>
                            <p class="btn_add"><input name="" type="image" src="__PUBLIC__/images/add_friend_03.jpg" /></p>
                        </a>
                     </li>
                  </ul>
              </div>
           </div>
           <!--翻页-->
          <div class="clear"></div>
           <div class="page">
               <ul>
                    <li class="page_li1"><a href="#">上一页</a></li>
                    <li class="index_page"><a href="#">1</a></li>
                    <li class="index_page"><a href="#">2</a></li>
                    <li class="index_page"><a href="#">3</a></li>
                    <li class="index_page"><a href="#">...</a></li>
                    <li class="index_page"><a href="#">8</a></li>
                    <li class="page_li2"><a href="#">上一页</a></li>
                </ul>
            </div>
    