
<!--内容-->
<div class="effective_div">
	<div class="gy_con_div touch_con_div">
    	<div class="gy_con_top">
        	<ul>
            	<li><a href="index.html">首页  》</a></li>
            	<li><a href="#">博润堂  》</a></li>
            	<li><a href="touch.html">联系我们</a></li>
            </ul>
        </div>
        <!--内容区域显示-->
        <div class="touch_top"><img src="__PUBLIC__/imgaes/touch_03.jpg" /></div>
        <div class="touch_content">
        	<div class="touch_con_left">
            	<p><img src="__PUBLIC__/imgaes/touch.png" /></p>
                <strong>实体店址：上海市黄浦区浙江中路中福古玩城1D05室</strong>
            </div>
            <div class="touch_con_right">
            	<dl>
                	<dt>博润堂——黄杨洪玉雕艺术工作室</dt>
                    <dd>咨询热线：<span>400 - 082 - 688 </span>021 - 3300603</dd>
                    <dd>黄杨洪：13818109888  谈玲：18221288988 </dd>
                    <dd>邮箱：boruntang@163.com</dd>
                    <dd>微信号：boruntang </dd>
                    <dd>淘宝地址：http://boruntang.taobao.com </dd>
                    <dd>实体店址：上海市黄浦区浙江中路中福古玩城1D05室</dd>
                    <dd>工作室地址：上海市黄浦区中华路88弄4号楼3101室</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
