<div class="effective_div">
    	<!--内容左边-->
    	<div class="help_con_left">
        	<p>个人中心</p>
        	<ul class="help_con_left_ul">
            	<li>
                	<div class="li_a"><a href="#">账户信息</a></div>
              		<dl class="help_con_left_dl ">
                   		<dd><a href="{:U('User/index')}">我的订单</a></dd>
                   		<dd><a href="{:U('User/edit')}">个人信息</a></dd>
                   		<dd><a href="{:U('User/vip')}">账户安全</a></dd>
                    </dl>
                </li>

                <li>
                  <div class="li_a"><a href="#">购物指南</a></div>
                 <dl class="help_con_left_dl">
                      <dd><a href="{:U('User/zhuceil')}">注册用户</a></dd>
                      <dd><a href="{:U('User/shopl')}">购买流程</a></dd>
                    </dl>
                </li>
                <li>
                  <div class="li_a"><a href="#">支付配送</a></div>
                    <dl class="help_con_left_dl">
                      <dd><a href="{:U('User/zhifuf')}">支付方式</a></dd>
                      
                      <dd><a href="{:U('User/wangszhuan')}">网上转账</a></dd> 
                      <dd><a href="{:U('User/prrrr')}">配送流程</a></dd>
                    </dl>
                </li>
                <li>
                  <div class="li_a"><a href="#">售后与服务</a></div>
                    <dl class="help_con_left_dl">
                      <dd><a href="{:U('User/tuihuol')}">退换货流程</a></dd>
                      <dd><a href="{:U('User/shouhou')}">售后服务保证</a></dd>
                      <dd><a href="{:U('User/bais')}">免费服务及赠送</a></dd>
                      <dd><a href="{:U('User/pinz')}">品质保证</a></dd>

                      <dd><a href="{:U('User/falv')}">法律顾问</a></dd>
                    </dl>
                </li>

                  <li>
                  <div class="li_a"><a href="#">关于我们</a></div>
                    <dl class="help_con_left_dl">
                      <dd><a href="{:U('User/jieshao')}">博润堂介绍</a></dd>
                      <dd><a href="{:U('User/licheng')}">博润堂历程</a></dd>
                      <dd><a href="{:U('User/zhanting')}">博润堂展厅</a></dd>
                     
                    </dl>
                </li>


            </ul>
        </div>