<div class="help_content">
	<div class="effective_div">
    	<!--内容左边-->
        <include file="User:comment" />
        <!--内容右边-->
        <div class="help_con_right help1">
            <div class="help_right_con">
                <div class="help_right_con_top">购物流程</div>
                <div class="clear"></div>
                <div class="help1_content">
                 <?php echo $list;?>
                    <div class="clear"></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>