<div class="help_content">
	<div class="effective_div">
    	<!--内容左边-->
    	<include file="User:comment" />
        <!--内容右边-->
        <div class="help_con_right">
            <div class="help_right_con">
                <div class="help_right_con_top">支付方式</div>
                <div class="help2_content">
                	<div class="clear"></div>
                	<div class="help2_top">


                    <?php echo $list;?>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
