
<div class="effective_div">
	<div class="gy_con_div qy_con_div">
        <!--内容区域顶部-->
      <div class="cer_con_top">
        	<div class="cer_con_top_left"><img src="__PUBLIC__/imgaes/Certificate_03.jpg" /></div>
        <div class="cer_con_top_right">
            	<div class="cer_con_topbg">
                	<form class="jjo" action="{:U('Zshou/index')}" method="get">
                    <strong>证书编号查询</strong>
                    <p class="wooo">
                        <label class="">输入编号</label>
                       <input  type="text" class="span1_text" name="bianhao" value="<?php echo $list['bianhao']?>" />
                    </p>
                    <p class="image_int"><input class="" name="" type="image" src="__PUBLIC__/imgaes/Certificate.png" /></p>
                    </form>
                </div>
            </div>
        </div>

        <style>
        .wooo{ overflow:hidden; width:300px; height:40px;  margin-left:53px; line-height: 40px; }
         .jjo label{ float:left; width:73px; height:40px;font-family:"宋体"; font-size:18px; line-height: 36px;}
         .span1_text{  float:left; width:170px; height:31px;border-radius:3px; border:1px solid #999; margin-left:10px;  color:#333333; font-family:"宋体"; font-size:14px;}



        </style>
        <!--内容区域底部-->
        <div class="cer_no_con"><p>没有查到此商品信息！ </p></div>
    </div>
</div>

