<ul  class="ff aa " >


                <div id="leftpre"><img src="__PUBLIC__/imgaes/pro_10.jpg" /></div>
                <div class="pro_changes">
                    <div class="pro_content1">
                        <ul class="gocenter ul" >
                           
                            <?php if(!empty($lost)): ?>
                             <?php foreach($lost as $val): ?>
                            <li><img style="height:464px; width:847px;" src="__ROOT__/Uploads/<?php echo $val['filename'];?>" /></li>
                         
                              <?php endforeach;?>
                          <?php endif;?>

                        </ul>
                    </div>

                 
                </div>
                <div id="rightpre"><img src="__PUBLIC__/imgaes/pro_13.jpg" /></div>

                </ul>