
<!--banner-->
<!--<div class="effective_div"><img src="__PUBLIC__/imgaes/index_24.jpg" /></div>-->
<div class="img_bg"><!--<img src="__PUBLIC__/imgaes/index_24.jpg" />--></div>
<!--内容-->
<div class="effective_div">
	<div class="content">
   	  <!--内容左边-->
        <div class="con_left">
            <div class="con_left_con">
                <a href="#">
                    <span>黄杨洪 中国海派玉雕大师，中国青年玉雕艺术家，上海玉雕大师，上海海派文化协会理事。</span>
                    1973年生于重庆，1995年开始从事玉雕，师承上海玉雕厂程广彦。2008年成立个人玉雕工作室——博润堂。他善于雕刻花鸟题材作品。造型讲究审美重点的突出及其逼真形态，常常通过适度的夸张营造视觉的冲击感，细节上追求线条的流畅、灵动，给人以 充满弹性的感觉；块面处理干净利落，繁简相宜，且注重线条和块面的完 基础上，灵活运用薄意雕、深浮雕、圆雕、镂雕等各种技法，丰富作品层次，营造深邃透视空间和艺 术意境。他的作品，俏丽新颖，有着“素”“雅”“静”的唯美气韵，既发扬了海派玉雕的传统精髓，又符合当 代审美志趣的走向，在业内备受青睐。
                    <span ><img src="__PUBLIC__/imgaes/index_04.jpg" /></span>
                </a>
            </div>
        </div>
      <!--内容中间-->
        <div class="con_cen"><img src="__PUBLIC__/imgaes/index_05.jpg" usemap="#Map" border="0" />
          <map name="Map" id="Map">
            <area shape="circle" coords="44,83,27" href="{:U('index/index')}" />
          </map>
        </div>
      <!--内容右边边-->
        <div class="con_right">
        	<div class="p_rel">
              <form action="{:U('Zshou/index')}" method="get">
              <!--
            	<img src="__PUBLIC__/imgaes/index_32.jpg" usemap="#Map2" border="0" />-->

              <input name="" type="image" src="__PUBLIC__/imgaes/index_32.jpg" />
              <!--
                <map name="Map2" id="Map2">
                  <area shape="rect" coords="75,86,144,110" href="#" />
                </map> -->
              <p class="p_abs"><input name="bianhao" type="text" class="p_text" value="" /></p>

              </form>


          </div>
            
        </div>
    </div>
</div>
