
<!--内容-->
<div class="effective_div">
	<div class="gy_con_div touch_con_div">
    	<div class="gy_con_top">
        	<ul>
            	<li><a href="{:U('index/index')}">首页  》</a></li>
            	<li><a href="{:U('Brt/index')}">博润堂  》</a></li>
            	<li><a href="#">招贤纳士</a></li>
            </ul>
        </div>
        <!--内容区域显示-->
        <div class="touch_top"><img src="__PUBLIC__/imgaes/touch_03.jpg" /></div>
        <div class="zxns_content">
        	<!--内容区域左边-->
        	<div class="zxns_con_left">
            	<dl class="zxns_con_dl">
                	<dt>一、拍卖专员(1名)</dt>
                    <dd>
                    	<p>
                        	拍卖专员招聘要求：<br />
                             1、擅长交流，有一定的沟通技巧。<br />
                             2、做事认真，细心，吃苦，耐劳。<br />
                             3、对玉器知识有一定的了解或对玉器有兴趣。
                        </p>
                    </dd>
                </dl>
                <dl class="zxns_con_dl">
                	<dt>二、口碑管理(1名)</dt>
                    <dd>
                    	<p>
                        	  招聘要求：<br />
                             1、负责推广玉友之家。<br />
                             2、熟悉互联网。<br />
                             3、做事认真，细心，具有良好的沟通能力<br />
                             4、对玉器知识有简单的了解或对玉器有兴趣。<br />
                             5、大专及以上学历；有经验者优先考虑。
                        </p>
                    </dd>
                </dl>
            </div>
            <!--内容区域右边-->
            <div class="zxns_con_right">
            	<dl class="zxns_con_dl">
                	<dt>三、网络编辑(2名)</dt>
                    <dd>
                    	<p>
                        	岗位职责：<br />
                             1、负责网站相关栏目/频道的信息搜集、编辑、审校等工作；<br />
                             2、完成信息内容的日常更新与维护；<br />
                             3、编写网站宣传资料及相关产品资料；<br />
                             4、收集、研究和处理网络读者的意见和反馈信息；<br />
                             5、协助完成频道管理与栏目的发展规划，促进网站知名度的提高；<br />
                            任职资格：<br />
                             1、编辑、出版、新闻、中文等相关专业大专或以上学历；<br />
                             2、有媒体编辑领域从业经验者优先；<br />
                             3、熟练操作常用的网络搜索工具，了解网站运行及维护的相关知识；<br />
                             4、良好的文字功底，较强的信息采编能力；<br />
                             5、较高的职业素养、敬业精神及团队精神，擅于沟通。
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
