
        <div class="header">
            
            <h1 class="page-title">会员管理</h1>
        </div>
        
        <ul class="breadcrumb">
            <li><a href="#">首页</a> <span class="divider">/</span></li>
            <li><a href="{:U('Vip/index')}">会员管理</a> <span class="divider">/</span></li>
            <li class="active">会员列表</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
              <div class="btn-toolbar row-fluid">
             
               
              </div>

              <div class="well">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>邮箱</th>
                        <th>电话</th>
                        <th>状态</th>
                        <th>修改时间</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    <?php if(!empty($list)):?>
                      <?php foreach($list as $arr):?>
                      <tr>
                        <td><?php echo $arr['email']?></td>
                        <td><?php echo $arr['phone']?></td>
                       
                        <td><?php yuij($arr['status']); ?></td>
                        <td><?php echo date('Y-m-d',$arr['modified'])?></td>
                        <td>
                          <!--
                            <a href="{:U('vip/edit',array('id'=>$arr['id']))}"><i class="icon-pencil"></i></a>  -->
                           
                            <a class="offset1"   href="{:U('vip/delete',array('id'=>$arr['id']))}" ><i class="icon-remove"></i></a> 
                    
                            <!--
                             <a href="{:U('vip/delete',array('id'=>$arr['id']))}"><i class="icon-tag"></i></a> -->
                            
                        </td>
                      </tr>
                    <?php endforeach;?>
                    <?php endif;?>
                    </tbody>

                  </table>
              </div>
              <div id="page">
              <?php echo $page;?>
              </div>
              <script type="text/javascript">
                var aleng = $('#page a').length;
                var current = $('#page .current').html();
                $('#page .end').html('最后一页');
                var first = $('#page .first').html();
                if(first && current>=7){
                  $('#page .first').html(1);
                  if(current>7){
                    $('#page .first').after('<b>...</b>');
                  }
                  
                }
             
              </script>

           
              <footer>
                  <hr>
                  <p class="pull-right">&copy;  <a href="" target="_blank">Pleasure</a></p>
              </footer>
                    
            </div>
        </div>