<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>


<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/style.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2_min.js"></script>



</head>


<body>

<!--头部-->
<div class="help_header">
  <div class="effective_div">
    	<div class="lan_logo"><img src="__PUBLIC__/imgaes/logo.png" /></div>
        <div class="lan_hea_right">
        	<div class="tel"><img src="__PUBLIC__/imgaes/tel.png" /></div>
            <div class="tel_right">
            	<p>全国统一销售热线：</p>
                <strong>400-082-1688</strong>
            </div>
        </div>
  </div>
</div>

<script type="text/javascript">
$(function(){
    //$(".registerform").Validform();  //就这一行代码！;
        
    $(".registerform").Validform({
        tiptype:2
    });
})
</script>
<!--内容区域-->
<div class="landed_content">
	<div class="effective_div">
    	<div class="reg_left_div">
        	<div class="reg_left_top">博润堂在线注册</div>
            <div class="reg_left_bot">
                <form action="{:U('Reg/regs')}" class="registerform"  method="post">
            	<table>
                	<tr>
                    	<td width="84"><p><span>邮 箱</span><span><img src="__PUBLIC__/imgaes/reg.png" /></span></p></td>
                        <td><input placeholder="请输入邮箱号码..." type="text" name="email" type="text" class="text_td email inputxt" datatype="e" nullmsg="请输入正确的邮箱号 且邮箱不能为空" errormsg="请使用邮箱格式！" /><span></span></td>
                        <td><em></em></td>
                    </tr>
                    <tr>
                    	<td width="84"><p><span>手机号</span><span><img src="__PUBLIC__/imgaes/reg.png" /></span></p></td>
                        <td><input type="text" datatype="m" name="phone" type="text" placeholder="请输入手机号码..." errormsg="请使用正确的手机号码！" nullmsg="请输入正确的手机号 且手机号不能为空" errormsg="请使用邮箱格式！" class="text_td inputxt" /></td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td width="84"><p><span>设置密码</span><span><img src="__PUBLIC__/imgaes/reg.png" /></span></p></td>
                        <td><input datatype="*" placeholder="请手动输入密码..."  nullmsg="请输入正确的密码号" errormsg="请使用正确密码格式！"  type="password" name="password" type="text" class="text_td" /></td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td width="84"><p><span>确认密码</span><span><img src="__PUBLIC__/imgaes/reg.png" /></span></p></td>
                        <td><input type="password" name="repassword" type="text" class="text_td" /></td>
                        <td></td>
                    </tr>
                </table>

                <style>
                    .dianji{
                        position:relative;
                        top:37px;
                        left:120px;

                    }
                </style>

                <input name="" class="dianji" type="image" src="__PUBLIC__/imgaes/{85T(W1KJVKV@OWV{KL@X@3.jpg" />
                

               </form>  
            </div>
        </div>
        <div class="reg_con_right">
        	<div class="reg_right_con_top">
            	<div class="reg_righ_con_top_left">已有博润堂账号？</div>
                <div class="reg_login"><a href="">

                <input name="" type="image" src="__PUBLIC__/imgaes/Registration_02.jpg" />


                </a></div>
            </div>
           
            <div class="reg_cen_con"><p>使用合作网站账号登录</p></div>
            <div class="lan_bot_div padding_left">
                <a href="#"><img src="__PUBLIC__/imgaes/Landed_19.jpg" />QQ</a>
                <a href="#"><img src="__PUBLIC__/imgaes/Landed_21.jpg" />腾讯微博</a>
                <a href="#"><img src="__PUBLIC__/imgaes/Landed_23.jpg" />百度</a>
                <a href="#"><img src="__PUBLIC__/imgaes/Landed_33.jpg" />新浪微博</a>
                <a href="#"><img src="__PUBLIC__/imgaes/Landed_29.jpg" />开心网</a>
            </div> 
        </div>
    </div>
</div>
<!--底部-->
<div class="footer">
	<div class="effective_div">
    	<ul class="footer_ul">
        	<li>
            	<dl class="footer_dl">
                	<dt><img src="__PUBLIC__/imgaes/help_15.jpg" /></dt>
                    <dd>免费配证书</dd>
                </dl>
            </li>
            <li>
            	<dl class="footer_dl">
                	<dt><img src="__PUBLIC__/imgaes/help_17.jpg" /></dt>
                    <dd>7天无理由退换</dd>
                </dl>
            </li>
            <li>
            	<dl class="footer_dl">
                	<dt><img src="__PUBLIC__/imgaes/help_19.jpg" /></dt>
                    <dd>终身保养</dd>
                </dl>
            </li>
            <li>
            	<dl class="footer_dl">
                	<dt><img src="__PUBLIC__/imgaes/help_21.jpg" /></dt>
                    <dd>赠送配绳</dd>
                </dl>
            </li>
            <li>
            	<dl class="footer_dl">
                	<dt><img src="__PUBLIC__/imgaes/help_23.jpg" /></dt>
                    <dd>赠送锦盒</dd>
                </dl>
            </li>
            <li class="foter_last_li">
            	<dl class="footer_dl">
                	<dt><img src="__PUBLIC__/imgaes/help_25.jpg" /></dt>
                    <dd>全国免运费</dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="bottom2">
	<div class="effective_div">
    	<div class="bot2_ul">
        	<ul>
            	<li><a href="#">返回首页&nbsp;&nbsp;|</a></li>
            	<li><a href="#">法律声明&nbsp;&nbsp;|</a></li>
            	<li><a href="#">联系我们&nbsp;&nbsp;|</a></li>
            </ul>
        </div>
        <p class="bot2_p">版权所有 © 博润堂 www.boruntang.com</p>
    </div>
</div>
</body>
</html>
