
    <div class="trip_div">
    	<!--顶部-->
    	<div class="vomiting_top">
        	<div class="effective_div">
            	<div id="con">
                    <ul id="nav">
                        <li ><a href="#" class="current1">全部</a></li>
                        <li><a href="#">任务书</a></li>
                        <li><a href="#">故事</a></li>
                        <li><a href="#">游记</a></li>
                        <li><a href="#">美女</a></li>
                    </ul>
                    <div id="subNav">
                        <ul class="vom_daohang_ul">
                        	<li><a href="#" class="li_a1">上海</a></li>
                            <li><a href="#">北京</a></li>
                            <li><a href="#">天津</a></li>
                            <li><a href="#">香港</a></li>
                            <li><a href="#">澳门</a></li>
                            <li><a href="#">广州</a></li>
                            <li><a href="#">深圳</a></li>
                            <li><a href="#">厦门</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                        <ul class="vom_daohang_ul">
                        	<li><a href="#" class="li_a1">上海2</a></li>
                            <li><a href="#">北京</a></li>
                            <li><a href="#">天津</a></li>
                            <li><a href="#">香港</a></li>
                            <li><a href="#">澳门</a></li>
                            <li><a href="#">广州</a></li>
                            <li><a href="#">深圳</a></li>
                            <li><a href="#">厦门</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                        <ul class="vom_daohang_ul">
                        	<li><a href="#" class="li_a1">上海2</a></li>
                            <li><a href="#">北京</a></li>
                            <li><a href="#">天津</a></li>
                            <li><a href="#">香港</a></li>
                            <li><a href="#">澳门</a></li>
                            <li><a href="#">广州</a></li>
                            <li><a href="#">深圳</a></li>
                            <li><a href="#">厦门</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                        <ul class="vom_daohang_ul">
                        	<li><a href="#" class="li_a1">上海2</a></li>
                            <li><a href="#">北京</a></li>
                            <li><a href="#">天津</a></li>
                            <li><a href="#">香港</a></li>
                            <li><a href="#">澳门</a></li>
                            <li><a href="#">广州</a></li>
                            <li><a href="#">深圳</a></li>
                            <li><a href="#">厦门</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                        <ul class="vom_daohang_ul">
                        	<li><a href="#" class="li_a1">上海2</a></li>
                            <li><a href="#">北京</a></li>
                            <li><a href="#">天津</a></li>
                            <li><a href="#">香港</a></li>
                            <li><a href="#">澳门</a></li>
                            <li><a href="#">广州</a></li>
                            <li><a href="#">深圳</a></li>
                            <li><a href="#">厦门</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--内容区-->
        <div class="effective_div">
        	<div class="vom_con">
        		<!--左边-->
                <div class="vom_con_left">
                	<p class="com_p">
                        <span class="com_span"><input name="" type="text" class="com_text" /><span>
                        <a href="#" class="search_com"><img src="__PUBLIC__/images/combox_06.jpg" /></a>
                    </p>
                    <!--吐遭区-->
                    <div class="vom_con_left_vom">
                    	<p class="left_vom_title">吐遭区</p>
                    	<ul class="left_vom_ul">
                        	<li><a href="#" class="li_a1">田园风光</a></li>
                            <li><a href="#">美景</a></li>
                            <li><a href="#">印象</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                            <li><a href="#">海滩</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                            <li><a href="#">田园风光</a></li>
                            <li><a href="#">美景</a></li>
                            <li><a href="#">印象</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                            <li><a href="#">海滩</a></li>
                            <li><a href="#">巴尔大夫</a></li>
                        </ul>
                    </div>
                    <!--热门专帖-->
                    <div class="recommend_div">
                       <strong class="recent">热门专帖</strong>
                       <ul class="recommend_ul">
                          <li><a href="#" class="recommend_ul_a"><img src="__PUBLIC__/images/collectioncenter_collection_57.jpg" /></a>
                            <dl class="recommend_ul_dl">
                              <dt>非常优美的地方</dt>
                              <dd>楼主听同事讲了个他以前同事的故事，那个同事工作中不慎.....</dd>
                            </dl>
                         </li>
                          <li><a href="#" class="recommend_ul_a"><img src="__PUBLIC__/images/vom_07.jpg" /></a>
                            <dl class="recommend_ul_dl">
                              <dt>非常优美的地方</dt>
                              <dd>楼主听同事讲了个他以前同事的故事，那个同事工作中不慎.....</dd>
                            </dl>
                          </li>
                          <li><a href="#" class="recommend_ul_a"><img src="__PUBLIC__/images/collectioncenter_collection_57.jpg" /></a>
                            <dl class="recommend_ul_dl">
                              <dt>非常优美的地方</dt>
                              <dd>楼主听同事讲了个他以前同事的故事，那个同事工作中不慎.....</dd>
                            </dl>
                         </li>
                         <li><a href="#" class="recommend_ul_a"><img src="__PUBLIC__/images/vom_07.jpg" /></a>
                            <dl class="recommend_ul_dl">
                              <dt>非常优美的地方</dt>
                              <dd>楼主听同事讲了个他以前同事的故事，那个同事工作中不慎.....</dd>
                            </dl>
                         </li>
                          <li><a href="#" class="recommend_ul_a"><img src="__PUBLIC__/images/collectioncenter_collection_57.jpg" /></a>
                            <dl class="recommend_ul_dl">
                              <dt>非常优美的地方</dt>
                              <dd>楼主听同事讲了个他以前同事的故事，那个同事工作中不慎.....</dd>
                            </dl>
                         </li>
                         <li><a href="#" class="recommend_ul_a"><img src="__PUBLIC__/images/vom_07.jpg" /></a>
                            <dl class="recommend_ul_dl">
                              <dt>非常优美的地方</dt>
                              <dd>楼主听同事讲了个他以前同事的故事，那个同事工作中不慎.....</dd>
                            </dl>
                         </li>
                       </ul>
                   </div>
                   <!--关注我们-->
                   <div class="pay_us">
                   	   <p class="pay_us_p">关注我们</p>
                       <div class="pay_us_dl">
                           <dl class="dl_pay">
                               <dt><img src="__PUBLIC__/images/collectioncenter_collection_47.jpg" /></dt>
                               <dd>新浪微博</dd>
                           </dl>
                           <dl>
                               <dt><img src="__PUBLIC__/images/collectioncenter_collection_49.jpg" /></dt>
                               <dd>新浪微博</dd>
                           </dl>
                           <dl>
                               <dt><img src="__PUBLIC__/images/collectioncenter_collection_51.jpg" /></dt>
                               <dd>新浪微博</dd>
                           </dl>
                       </div>
                   </div>
                   <!--淘宝网-->
                   <div class="pay_left_bottom">
                
                   </div>
                </div>
                <!--中间-->
                <div class="vom_center">
                	<ul class="com_right_ul">
                        <li class="li_1" onclick="commitmentsbook('1')">最新排序</li>
                        <li onclick="commitmentsbook('2')"><p>最新点赞度</p><span>|</span> </li>
                        <li onclick="commitmentsbook('3')"><p>月点赞度</p><span>|</span></li>
                        <li onclick="commitmentsbook('4')">一月点赞度  </li>
                    </ul>
                    <!--今日内容推荐-->
                    <div class="vom_con_recommend">
                    	<p class="con_rec_p">今日内容推荐</p>
                        <dl class="con_rec_dl">
                        	<dt><img src="__PUBLIC__/images/vom_07.jpg" /></dt>
                            <dd>
                            	<p class="con_rel_dl_right">
                                	<strong>昨天滨江道等车的时候看见的，大姐…</strong>
                                    <span>今天 09:22</span>
                                </p>
                                <p class="con_rel_con_p">
                                	楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为是刚结婚，基本每晚都XXOO 所以就小声问大夫 这影响夫妻生活么？医生回答没给我们背过气去，不影响...
                                </p>
                            </dd>
                        </dl>
                        <dl class="con_rec_dl">
                        	<dt><img src="__PUBLIC__/images/vom_07.jpg" /></dt>
                            <dd>
                            	<p class="con_rel_dl_right">
                                	<strong>昨天滨江道等车的时候看见的，大姐…</strong>
                                    <span>今天 09:22</span>
                                </p>
                                <p class="con_rel_con_p">
                                	楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为是刚结婚，基本每晚都XXOO 所以就小声问大夫 这影响夫妻生活么？医生回答没给我们背过气去，不影响...
                                </p>
                            </dd>
                        </dl>
                        <dl class="con_rec_dl">
                        	<dt><img src="__PUBLIC__/images/vom_07.jpg" /></dt>
                            <dd>
                            	<p class="con_rel_dl_right">
                                	<strong>昨天滨江道等车的时候看见的，大姐…</strong>
                                    <span>今天 09:22</span>
                                </p>
                                <p class="con_rel_con_p">
                                	楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为是刚结婚，基本每晚都XXOO 所以就小声问大夫 这影响夫妻生活么？医生回答没给我们背过气去，不影响...
                                </p>
                            </dd>
                        </dl>
                    </div>
                    <!--风景印象-->
                    <div class="collection_content">
                        <div class="content_mg_left" id="1">
                            <div class="sh">
                                <p class="p2">上海</p>
                                <p class="p3">风景印象</p>
                            </div>
                            <div class="strong">
                                <strong>昨天滨江道等车的时候，看见的大姐.....</strong>
                            </div>
                            <div class="div_new">
                                <dl class="div_new_dl">
                                    <dt><img src="__PUBLIC__/images/collectioncenter_collection_44.jpg" /></dt>
                                    <dd>楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="content_mg_left hover_div" id="2">
                            <div class="sh">
                                <p class="p2">上海</p>
                                <p class="p3">风景印象</p>
                            </div>
                            <div class="strong">
                                <strong>昨天滨江道等车的时候，看见的大姐.....</strong>
                            </div>
                            <div class="div_new">
                                <dl class="div_new_dl">
                                    <dt><img src="__PUBLIC__/images/collectioncenter_collection_44.jpg" /></dt>
                                    <dd>楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="content_mg_left hover_div" id="3">
                            <div class="sh">
                                <p class="p2">上海</p>
                                <p class="p3">风景印象</p>
                            </div>
                            <div class="strong">
                                <strong>昨天滨江道等车的时候，看见3的大姐.....</strong>
                            </div>
                            <div class="div_new">
                                <dl class="div_new_dl">
                                    <dt><img src="__PUBLIC__/images/collectioncenter_collection_44.jpg" /></dt>
                                    <dd>楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="content_mg_left hover_div" id="4">
                            <div class="sh">
                                <p class="p2">上海</p>
                                <p class="p3">风景印象</p>
                            </div>
                            <div class="strong">
                                <strong>昨天滨江道等车的时候，看见的大姐4.....</strong>
                            </div>
                            <div class="div_new">
                                <dl class="div_new_dl">
                                    <dt><img src="__PUBLIC__/images/collectioncenter_collection_44.jpg" /></dt>
                                    <dd>楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚楼主听同事讲了个他以前同事的故事那同事工作中不慎手腕骨折了被送至医院包扎完毕那小伙因为刚结婚</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="re_div">
                            <div class="coll_ul">
                                <ul>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_36.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_38.jpg" /></a>
                                        <span>赞</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_36.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_38.jpg" /></a>
                                        <span>赞</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_36.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_38.jpg" /></a>
                                        <span>赞</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_40.jpg" /></a>
                                        <span>都是人才</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_42.jpg" /></a>
                                        <span>不错</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_40.jpg" /></a>
                                        <span>都是人才</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_42.jpg" /></a>
                                        <span>不错</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_48.jpg" /></a>
                                        <span>难的好听</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_48.jpg" /></a>
                                        <span>都是人才啊</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_48.jpg" /></a>
                                        <span>尼玛搞飞机</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div class="coll_rew">
                                <span><input name="" type="text" class="coll_rew_text" /></span>
                                <p><img src="__PUBLIC__/images/trip_59.jpg" /></p>
                                <ul>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_54.jpg" /></a>
                                        <span>吐糟</span>
                                    </li>
                                    <li>
                                        <a href="#"><img src="__PUBLIC__/images/trip_56.jpg" /></a>
                                        <span class="span1">评论</span>
                                    </li>
                                </ul>
                          </div>
                          <dl class="coll_rew_dl">
                            <dd><a href="#">查看转播和评论</a></dd>
                            <dt><img src="__PUBLIC__/images/trip_01.png" /></dt>
                          </dl>
                       </div>
                   </div>
                </div>
                <!--右边-->
                <div class="vom_con_right">
                	<!--发布游记-->
                	<p class="vom_pub_travels">发布游记</p>
                    <!--最新吐糟-->
                    <div class="vom_con_right_con">
                    	<p class="vom_new_com">最新吐糟</p>
                        <ul class="vom_new_ul">
                        	<li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <ul class="vom_btn_ul">
                                    	<li class="bom_btn_li1">卧糟</li>
                                        <li class="bom_btn_li1">赞</li>
                                        <li class="bom_btn_li2">都是人才</li>
                                        <li class="bom_btn_li2">不错</li>
                                        <li class="bom_btn_li3">尼玛搞飞机</li>
                                    </ul>
                                </div>
                            </li>
                        	<li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <ul class="vom_btn_ul">
                                    	<li class="bom_btn_li1">卧糟</li>
                                        <li class="bom_btn_li1">赞</li>
                                        <li class="bom_btn_li2">都是人才</li>
                                        <li class="bom_btn_li2">不错</li>
                                        <li class="bom_btn_li3">尼玛搞飞机</li>
                                    </ul>
                                </div>
                            </li>
                        	<li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <ul class="vom_btn_ul">
                                    	<li class="bom_btn_li1">卧糟</li>
                                        <li class="bom_btn_li1">赞</li>
                                        <li class="bom_btn_li2">都是人才</li>
                                        <li class="bom_btn_li2">不错</li>
                                        <li class="bom_btn_li3">尼玛搞飞机</li>
                                    </ul>
                                </div>
                            </li>
                        	<li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <ul class="vom_btn_ul">
                                    	<li class="bom_btn_li1">卧糟</li>
                                        <li class="bom_btn_li1">赞</li>
                                        <li class="bom_btn_li2">都是人才</li>
                                        <li class="bom_btn_li2">不错</li>
                                        <li class="bom_btn_li3">尼玛搞飞机</li>
                                    </ul>
                                </div>
                            </li>
                        	<li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <ul class="vom_btn_ul">
                                    	<li class="bom_btn_li1">卧糟</li>
                                        <li class="bom_btn_li1">赞</li>
                                        <li class="bom_btn_li2">都是人才</li>
                                        <li class="bom_btn_li2">不错</li>
                                        <li class="bom_btn_li3">尼玛搞飞机</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--最新评论-->
                    <div class="vom_con_right_con">
                    	<p class="vom_new_com">最新吐糟</p>
                        <ul class="vom_new_ul">
                        	<li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <p class="vom_rew_p">楼主听同事讲了个他以前同事的故事中不慎手</p>
                                </div>
                            </li>
                            <li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <p class="vom_rew_p">楼主听同事讲了个他以前同事的故事中不慎手</p>
                                </div>
                            </li>
                            <li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <p class="vom_rew_p">楼主听同事讲了个他以前同事的故事中不慎手</p>
                                </div>
                            </li>
                            <li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <p class="vom_rew_p">楼主听同事讲了个他以前同事的故事中不慎手</p>
                                </div>
                            </li>
                            <li class="vom_new_ul_li">
                            	<div class="vom_img_div"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></div>
                                <div class="vom_img_con_div">
                                	<p class="vom_title_p"><strong>漆黑之牙</strong><span>今天09:20</span></p>
                                    <p class="vom_con_p">
                                        <span>
                                            在<a href="#">[风景印象]服务也很满意。不错不错 </a>中吐糟
                                        </span>
                                    </p>
                                    <p class="vom_rew_p">楼主听同事讲了个他以前同事的故事中不慎手</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        	</div>
            <!--翻页-->
            <div class="clear"></div>
            <div class="page">
            	<ul>
                	<li class="page_li1"><a href="#">上一页</a></li>
                    <li class="index_page"><a href="#">1</a></li>
                    <li class="index_page"><a href="#">2</a></li>
                    <li class="index_page"><a href="#">3</a></li>
                    <li class="index_page"><a href="#">...</a></li>
                    <li class="index_page"><a href="#">8</a></li>
                    <li class="page_li2"><a href="#">上一页</a></li>
                </ul>
            </div>
        </div>
    </div>
   