
    <!--顶部-->
    <div class="top_bg">
        <div id="main_minu">
            <div id="index_b_hero">
                <div class="hero-wrap">
                    <ul class="heros clearfix">
                        <li class="hero">
                            <a href="#" target="_blank">
                                <img src="__PUBLIC__/images/1.jpg" class="thumb" />
                            </a>
                        </li>
                        <li class="hero">
                            <a href="#" target="_blank" >
                                <img src="__PUBLIC__/images/2.jpg" class="thumb" />
                            </a>
                        </li>
                        <li class="hero">
                            <a href="#" target="_blank">
                                <img src="__PUBLIC__/images/3.jpg" class="thumb" />
                            </a>
                        </li>
                        <li class="hero">
                            <a href="#" target="_blank" >
                                <img src="__PUBLIC__/images/4.jpg" class="thumb"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="helper">
                    <div class="mask-left">
                    </div>
                    <div class="mask-right">
                    </div>
                    <a href="#" class="prev icon-arrow-a-left"></a>
                    <a href="#" class="next icon-arrow-a-right"></a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
			$.foucs({ direction: 'right' });
		</script>
    	<div class="effective_div">
        	<div class="com_box">
                <ul class="com_box_ul">
                  <div class="combookpag_top_left">
                    	<a href="#">地点</a>
                  </div>
                    <li><a href="#" class="pagfirst_a">全部</a></li>
                    <li><a href="#" class="first1_a">上海</a></li>
                    <li><a href="#">北京</a></li>
                    <li><a href="#">天津</a></li>
                    <li><a href="#">香港</a></li>
                    <li><a href="#">澳门</a></li>
                    <li><a href="#">广州</a></li>
                    <li><a href="#">深圳</a></li>
                    <li><a href="#">厦门</a></li>
                    <li><a href="#">其他</a></li>
                </ul>
                <ul class="com_box_ul">
                  <div class="combookpag_top_left1">
                    	<a href="#">任务书</a>
                  </div>
                    <li><a href="#" class="pagfirst1_a">全部</a></li>
                    <li><a href="#" class="first1_a">上海</a></li>
                    <li><a href="#">北京</a></li>
                    <li><a href="#">天津</a></li>
                    <li><a href="#">香港</a></li>
                    <li><a href="#">澳门</a></li>
                    <li><a href="#">广州</a></li>
                    <li><a href="#">深圳</a></li>
                    <li><a href="#">厦门</a></li>
                    <li><a href="#">其他</a></li>
                </ul>
            </div>
      </div>
    </div>
    <!--内容区-->
    <div class="effective_div">
        <div class="vom_con">
        	<!--左边-->
          	<div class="vom_con_left">
                <p class="com_p">
                    <span class="com_span"><input name="" type="text" class="com_text" /><span>
                    <a href="#" class="search_com"><img src="__PUBLIC__/images/travels_11.jpg" /></a>
                </p>
                <!--微游记-->
                <div class="stroy_s_stroy">
                    <p class="left_vom_title">微游记</p>
                    <ul class="left_stroy_ul left_stroy_ul2">
                        <li><a href="#" class="li_a2">田园风光</a></li>
                        <li><a href="#">美景</a></li>
                        <li><a href="#">印象</a></li>
                        <li><a href="#">巴尔大夫</a></li>
                        <li><a href="#">海滩</a></li>
                        <li><a href="#">巴尔大夫</a></li>
                        <li><a href="#">田园风光</a></li>
                        <li><a href="#">美景</a></li>
                        <li><a href="#">印象</a></li>
                        <li><a href="#">巴尔大夫</a></li>
                        <li><a href="#">海滩</a></li>
                        <li><a href="#">巴尔大夫</a></li>
                    </ul>
                </div>
                <!--微故事-->
                <div class="stroy_s_stroy">
                    <p class="left_vom_title">微故事</p>
                    <ul class="left_stroy_ul left_stroy_ul1">
                        <li><a href="#" class="li_a1">田园风光</a></li>
                        <li><a href="#">美景</a></li>
                        <li><a href="#">印象</a></li>
                        <li><a href="#">巴尔大夫</a></li>
                        <li><a href="#">海滩</a></li>
                        <li><a href="#">巴尔大夫</a></li>
                        <li><a href="#">田园风光</a></li>
                        <li><a href="#">美景</a></li>
                        <li><a href="#">印象</a></li>
                        <li><a href="#">巴尔大夫</a></li>
                        <li><a href="#">海滩</a></li>
                        <li><a href="#">巴尔大夫</a></li>
                    </ul>
                </div>
                <!--景点介绍-->
            	<div class="travels_img_con">
                	<ul class="travels_img_ul">
                      <li class="travels_img_li">
               			<div class="img_div"><img src="__PUBLIC__/images/travels_16.jpg" /></div>
                        <p class="tra_li_p">昨天滨江道等车的时候看见的，大姐…</p>
                        <div class="tra_btn_div">
                            <dl class="tra_btn_dl">
                                <dd><img src="__PUBLIC__/images/travels_btn_03.jpg" /></dd>
                                <dd><img src="__PUBLIC__/images/travels_btn_05.jpg" /></dd>
                                <dd><img src="__PUBLIC__/images/travels_btn_07.jpg" /></dd>
                                <dd><img src="__PUBLIC__/images/travels_btn_09.jpg" /></dd>
                                <dd><img src="__PUBLIC__/images/travels_btn_15.jpg" /></dd>
                            </dl>
                        </div>
                        <div class="img_con_ul">
                            <ul class="tra_con_ul">
                                <li>
                                    <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                    <p>
                                        <strong>漆黑之牙</strong>
                                        <span>服务很不错</span>
                                    </p>
                                 </li>
                                <li>
                                    <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                    <p>
                                        <strong>漆黑之牙</strong>
                                        <span>服务很不错</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="tra_text_div">
                            <p class="tra_text_p"><input name="" type="text"  class="tra_text_bg" value="发表你的观点"/></p>
                            <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_24.jpg" /></strong>
                            <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_26.jpg" /></strong>
                        </div>
                      </li>
                    </ul>
            	</div>
            </div>
            <!--右边-->
            <div class="travels_right">
            	<div class="right_title_div">
                	<ul class="str_cen_ul travel_cen_ul">
                    	<li class="li3">最新排序</li>
                        <li>24小时点赞度 </li><P>|</P>
                        <li>度一周点赞度 </li><P>|</P>
                        <li>一月点赞 </li>
                    </ul>
                </div>
               	<div class="con_block">
                	<!--第一个-->
                	<ul class="con_ul">
                        <li class="con_ul_li">
                          <div class="img_div img_div_rel">
                              <a href="#"><img src="__PUBLIC__/images/travels_20.jpg" /></a>
                            <p class="tra_p_abs"><img src="__PUBLIC__/images/02.png" /></p>
                              <div class="rew_abs"></div>
                              <div class="rew_con_abs">
                               	  <span><img src="__PUBLIC__/images/03.png"/></span>
                                  <span class="tra_span1">（1000）</span>
                              </div>
                          </div>
                            <p class="tra_li_p">昨天滨江道等车的时候看见的，大姐…</p>
                            <div class="tra_btn_div">
                                <dl class="tra_btn_dl">
                                    <dd><img src="__PUBLIC__/images/travels_btn_03.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_05.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_07.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_09.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_15.jpg" /></dd>
                                </dl>
                            </div>
                            <div class="img_con_ul">
                                <ul class="tra_con_ul">
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                     </li>
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tra_text_div">
                                <p class="tra_text_p"><input name="" type="text"  class="tra_text_bg" value="发表你的观点"/></p>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_24.jpg" /></strong>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_26.jpg" /></strong>
                            </div>
                          </li>
                          <li class="con_ul_li">
                          <div class="img_div img_div_rel" >
                              <a href="#"><img src="__PUBLIC__/images/travels_18.jpg" /></a>
                              <p class="tra_p_abs tra_p_hover"><img src="__PUBLIC__/images/02.png" /></p>
                              <div class="rew_abs"></div>
                              <div class="rew_con_abs" id="rew_con_abs">
                               	  <span><img src="__PUBLIC__/images/03.png"/></span>
                                  <span class="tra_span1">（1000）</span>
                              </div>
                          </div>
                            <p class="tra_li_p">昨天滨江道等车的时候看见的，大姐…</p>
                            <div class="tra_btn_div">
                                <dl class="tra_btn_dl">
                                    <dd><img src="__PUBLIC__/images/travels_btn_03.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_05.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_07.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_09.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_15.jpg" /></dd>
                                </dl>
                            </div>
                            <div class="img_con_ul">
                                <ul class="tra_con_ul">
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                     </li>
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tra_text_div">
                                <p class="tra_text_p"><input name="" type="text"  class="tra_text_bg" value="发表你的观点"/></p>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_24.jpg" /></strong>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_26.jpg" /></strong>
                            </div>
                          </li>
                	</ul>
                	<!--第二个-->
                    <ul class="con_ul">
                        <li class="con_ul_li">
                          <div class="img_div img_div_rel">
                              <a href="#"><img src="__PUBLIC__/images/travels_12.jpg" /></a>
                              <p class="tra_p_abs tra_p_hover"><img src="__PUBLIC__/images/02.png" /></p>
                              <div class="rew_abs"></div>
                              <div class="rew_con_abs">
                               	  <span><img src="__PUBLIC__/images/03.png"/></span>
                                  <span class="tra_span1">（1000）</span>
                              </div>
                          </div>
                          <p class="tra_li_p">昨天滨江道等车的时候看见的，大姐…</p>
                          <div class="tra_btn_div">
                          	<dl class="tra_btn_dl">
                                <dd><img src="__PUBLIC__/images/travels_btn_03.jpg" /></dd>
                                <dd><img src="__PUBLIC__/images/travels_btn_05.jpg" /></dd>
                                <dd><img src="__PUBLIC__/images/travels_btn_07.jpg" /></dd>
                                <dd><img src="__PUBLIC__/images/travels_btn_09.jpg" /></dd>
                                <dd><img src="__PUBLIC__/images/travels_btn_15.jpg" /></dd>
                            </dl>
                          </div>
                          <div class="img_con_ul">
                          	<ul class="tra_con_ul">
                                <li>
                                    <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                    <p>
                                        <strong>漆黑之牙</strong>
                                        <span>服务很不错</span>
                                    </p>
                                 </li>
                                <li>
                                    <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                    <p>
                                        <strong>漆黑之牙</strong>
                                        <span>服务很不错</span>
                                    </p>
                                </li>
                            </ul>
                          </div>
                          <div class="tra_text_div">
                            <p class="tra_text_p"><input name="" type="text"  class="tra_text_bg" value="发表你的观点"/></p>
                            <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_24.jpg" /></strong>
                            <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_26.jpg" /></strong>
                          </div>
                        </li>
                        <li class="con_ul_li">
                          <div class="img_div img_div_rel" >
                              <a href="#"><img src="__PUBLIC__/images/01_03.jpg" /></a>
                              <p class="tra_p_abs tra_p_hover"><img src="__PUBLIC__/images/02.png" /></p>
                              <div class="rew_abs"></div>
                              <div class="rew_con_abs" id="rew_con_abs">
                               	  <span><img src="__PUBLIC__/images/03.png"/></span>
                                  <span class="tra_span1">（1000）</span>
                              </div>
                          </div>
                            <p class="tra_li_p">昨天滨江道等车的时候看见的，大姐…</p>
                            <div class="tra_btn_div">
                                <dl class="tra_btn_dl">
                                    <dd><img src="__PUBLIC__/images/travels_btn_03.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_05.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_07.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_09.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_15.jpg" /></dd>
                                </dl>
                            </div>
                            <div class="img_con_ul">
                                <ul class="tra_con_ul">
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                     </li>
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tra_text_div">
                                <p class="tra_text_p"><input name="" type="text"  class="tra_text_bg" value="发表你的观点"/></p>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_24.jpg" /></strong>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_26.jpg" /></strong>
                            </div>
                          </li>
                	</ul>
                    <!--第三个-->
                    <ul class="con_tree_ul">
                        <li class="con_ul_li">
                          <div class="img_div img_div_rel">
                              <a href="#"><img src="__PUBLIC__/images/travels_14.jpg" /></a>
                              <p class="tra_p_abs tra_p_hover"><img src="__PUBLIC__/images/02.png" /></p>
                              <div class="rew_abs"></div>
                              <div class="rew_con_abs">
                               	  <span><img src="__PUBLIC__/images/03.png"/></span>
                                  <span class="tra_span1">（1000）</span>
                              </div>
                          </div>
                            <p class="tra_li_p">昨天滨江道等车的时候看见的，大姐…</p>
                            <div class="tra_btn_div">
                                <dl class="tra_btn_dl">
                                    <dd><img src="__PUBLIC__/images/travels_btn_03.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_05.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_07.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_09.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_15.jpg" /></dd>
                                </dl>
                            </div>
                            <div class="img_con_ul">
                                <ul class="tra_con_ul">
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                     </li>
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tra_text_div">
                                <p class="tra_text_p"><input name="" type="text"  class="tra_text_bg" value="发表你的观点"/></p>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_24.jpg" /></strong>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_26.jpg" /></strong>
                            </div>
                          </li>
                          <li class="con_ul_li">
                          <div class="img_div img_div_rel" >
                              <a href="#"><img src="__PUBLIC__/images/travels_33.jpg" /></a>
                              <p class="tra_p_abs tra_p_hover"><img src="__PUBLIC__/images/02.png" /></p>
                              <div class="rew_abs"></div>
                              <div class="rew_con_abs" id="rew_con_abs">
                               	  <span><img src="__PUBLIC__/images/03.png"/></span>
                                  <span class="tra_span1">（1000）</span>
                              </div>
                          </div>
                            <p class="tra_li_p">昨天滨江道等车的时候看见的，大姐…</p>
                            <div class="tra_btn_div">
                                <dl class="tra_btn_dl">
                                    <dd><img src="__PUBLIC__/images/travels_btn_03.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_05.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_07.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_09.jpg" /></dd>
                                    <dd><img src="__PUBLIC__/images/travels_btn_15.jpg" /></dd>
                                </dl>
                            </div>
                            <div class="img_con_ul">
                                <ul class="tra_con_ul">
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                     </li>
                                    <li>
                                        <p><a href="#"><img src="__PUBLIC__/images/personalsettings_03.jpg" /></a></p>
                                        <p>
                                            <strong>漆黑之牙</strong>
                                            <span>服务很不错</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tra_text_div">
                                <p class="tra_text_p"><input name="" type="text"  class="tra_text_bg" value="发表你的观点"/></p>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_24.jpg" /></strong>
                                <strong><input name="" type="image" src="__PUBLIC__/images/tra_btn_26.jpg" /></strong>
                            </div>
                          </li>
                	</ul>
                </div>
            </div>
        </div>
        <!--翻页-->
        <div class="clear"></div>
        <div class="page">
            <ul>
                <li class="page_li1"><a href="#">上一页</a></li>
                <li class="index_page"><a href="#">1</a></li>
                <li class="index_page"><a href="#">2</a></li>
                <li class="index_page"><a href="#">3</a></li>
                <li class="index_page"><a href="#">...</a></li>
                <li class="index_page"><a href="#">8</a></li>
                <li class="page_li2"><a href="#">上一页</a></li>
            </ul>
        </div>
    </div>
    